h1 {
  font-size: 60px;
  padding: 0px;
  margin: 5px;
}


body {
  background: black;
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'UnifrakturCook', cursive;
}

tr {
  background: white;
  border-width: 3px;
  border-color: white;
  width: 100%;
  margin: 0 auto;
}

td {
  height: 75px;
  width: 75px;
  border-radius: 20px;
  margin: 0 auto;
}

.space:hover {
  background: grey;
}

table {
  margin: 0 auto;
}

.startGameButton {
  height: 32px;
  width: 100px;
  border: 0px;
  background: red;
  color: yellow;
  font-family: 'UnifrakturCook', cursive;
  font-size: 18px;
}

.resetGameButton {
  height: 32px;
  width: 100px;
  border: 0px;
  background: grey;
  color: white;
  font-family: 'UnifrakturCook', cursive;
  font-size: 18px;
}

.buttons {
  margin: 0 auto;
  padding: 25px;
  font-family: 'UnifrakturCook', cursive;
}
